* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
a {
    text-decoration: none;
    color: white; 
}

ul {
    list-style-type: none;

}

input[type=checkbox] {
    display: none;
}
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.head {
    display: flex;
    justify-content: space-between; 
    background-color:teal;
    padding:18px 100px;
    color: #fff;
}

.navbar {
    display: flex;
    gap:45px;
}

.myImage {
    width: 300px;
    height:300px;
    border-radius: 150px;
    padding: 30px;
}

.firstsection {
    text-align: center;
    background-color: white;

}

.desc {
    padding: 10px;
    display: flex;
    justify-content: center;
}
.desc > img {
    padding-left: 5px;
}

.secondsection {
    display: flex;
    background-color: teal;
    padding: 90px 150px;
    gap:200px;
    color: #fff;
    font-size: 22px;    
}

 .subhead, .second-subhead {
    padding-bottom:35px;
}

.leftside {
    width: 650px;
}

.reachme {
    padding:8px;
}

.third-section {
    padding: 100px 150px;
    
} 
.section-head {
    color:teal;
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 400;
}


.container {
    display: flex;
    gap:60px;
    color: white;
    justify-content: space-between;
}

.box{
    background-color: rgb(1, 22, 22);
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    font-size: 21px;
}
.box > h3 {
    padding-bottom: 10PX;
}
footer {
    text-align: center;
    background-color: teal;
    padding:40px 0px;
    height:200px;
}
footer h3,h2,img {
    padding-bottom: 15px;
}
footer p {
    padding:10px;
}

@media screen and (max-width:980px) {
    .head {
        padding: 18px 10px;
    }
    .nav {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        padding: 12px 0;
        height: 100vh;
    }
    .nav li {
        margin-top: 14px;
        display: block;
    }
     input[type=checkbox]:checked ~ .nav {
        display:block;
    } 
     .hamburger {
        display:block;
    
    } 
.secondsection {
    display: inline-block;
    font-size: 16px; 
    padding: 50px;

}
.sub-section{
    padding-top: 20px;
}
.leftside {
    width: 100%;
}

.third-section{
    padding: 20px;
}
.container{
    display: inline-block;
    
}
.section-head{
    font-size: 25px;
}
.box {
    width: 100%;
    margin-bottom: 20px;
}
}